<a href="https://colab.research.google.com/github/MikeDeecode/KC-properties-price-analysis/blob/master/kc_properties_pricing_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**MULTIPLE LINEAR REGRESSION MODEL FOR THE PRICE PREDICTION OF HOUSES IN KINGS COUNTY, WASHINGTO STATE, USA**

Import the required libraries for preprocessing and setup

In [3]:
import numpy as np 
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

print("Setup complete")

Setup complete

Loading the dataset

In [6]:
kc_properties = pd.read_csv("/content/kc_house_data.csv")
print("Successful")

Successful

In [7]:
kc_properties.head()

           id             date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000.0  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000.0  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000.0  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]

In [8]:
kc_properties.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

###FEATURE SELECTION

**Here we select the features to be used for the model**

I will use the features that affect the pricing of the house significantly based on my analysis contained in a seperate file in my github repository

The following features will be used

* Number of bedrooms (bedrooms)
* Number of bathrooms (bathrooms)
* Square footage of living room (sqfr_living)
* Number of floors (floors)
*